html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

input[disabled="disabled"],
input[disabled="disabled"]:hover {
  opacity: 0.7;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

::-webkit-scrollbar {
  background-color: rgb(15, 17, 22);
  width: 5px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: rgb(50, 60, 80);
  border-radius: 10px;
}

body {
  background: rgb(22, 22, 35);
  font-family: 'Cutive Mono', monospace;
  font-size: 62.5%;
  font-size: .8em;
  color: white;
  line-height: 1.3em;
  font-weight: 300;
  box-sizing: border-box;
}

.shelljs_example_left-container {
  width: 51.5%;
  float: left;
}

.shelljs_example_right-container {
  float: right;
  width: 48.5%;
  background: rgb(15, 17, 22);
  min-height: 100vh;
  height: 100%;
  padding: 1% 1.5%;
  box-sizing: border-box;
  font-size: 1.1em;
  line-height: 1.5em;
  overflow: scroll;
  white-space: normal;
  word-wrap: break-word;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
}

.shelljs_example_btns-container {
  padding: 2em 2em 2.5em 2em;
  box-sizing: border-box;
  margin: 0 auto 1em auto;
  text-align: center;
  width: 100%;
  background: rgb(55, 50, 65);
}

.shelljs_example__button {
  background: white;
  border: 2px solid white;
  color: rgb(22, 22, 35);
  padding: .6em 1em;
  box-sizing: border-box;
  font-family: "Cutive Mono", monospace;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  margin: 0 .5em;
  border-radius: 2px;
}

.shelljs_example__button:hover {
  background: none;
  color: white;
}

.shelljs_example__button:disabled, .shelljs_example__button:hover:disabled {
  background: rgb(200, 200, 200);
  border: 2px solid rgb(200, 200, 200);
  cursor: auto;
  color: rgb(22, 22, 35);
}

.shelljs_example__header {
  font-size: 1.5em;
  font-weight: bold;
  padding: .6em 0 .5em 0;
}

.shelljs_example_btns-sign {
  box-sizing: border-box;
  margin: 0 auto .6em auto;
  width: 95%;
}

.shelljs_example__input-field-container {
  margin-bottom: 1.5em;
}

.shelljs_example__input-label {
  text-transform: uppercase;
  margin: .5em 0;
  display: block;
}

.shelljs_example__input-field {
  width: 100%;
  display: block;
  background: none;
  border: none;
  border-bottom: solid white 1px;
  outline: none;
  min-height: 25px;
  color: white;
  padding: .5em;
  box-sizing: border-box;
  font-family: "Cutive Mono", monospace;
  font-size: 1.35em;
}

.shelljs_example__textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  display: block;
  background: rgb(15, 17, 22);
  padding: .5em;
  box-sizing: border-box;
  font-family: "Cutive Mono", monospace;
  font-size: 1.35em;
  min-height: 350px;
  margin: 1em 0;
  border: none;
  outline: none;
  color: white;
  line-height: 1.5em;
}

.shelljs_example__button-sign-container {
  text-align: center;
}

.shelljs_example__load-firmware-container, .shelljs_example__load-erc20-container {
  width: 95%;
  margin: 1.5em auto;
  padding: 1.5em 0;
  box-sizing: border-box;
  border-top: solid white 1px;
}

input[type=file] {
  font-size: 1.2em;
  font-weight: 400;
  width: 50%;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: none;
  display: block;
  box-sizing: border-box;
  margin: 1em 0 1.8em 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Cutive Mono", monospace;
}

input[type=file]::file-selector-button {
  font-family: "Cutive Mono", monospace;
  margin-right: 20px;
  border: none;
  background: rgb(55, 50, 65);
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: rgb(44, 37, 58);
}